@font-face {
  font-family: "GT America Thin";
  src: url("./GTAmerica-CompressedLight.woff") format("woff"),
    url("./GTAmerica-CompressedLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT America Extended";
  src: url("./GTAmerica-ExtendedRegular.woff") format("woff"),
    url("./GTAmerica-ExtendedRegular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT America Expanded";
  src: url("./GTAmerica-ExpandedMedium.woff2") format("woff2"),
    url("./GTAmerica-ExpandedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
