@font-face {
  font-family: "GT America Extended";
  src: url("/assets/fonts/GTAmericaTrial-Compressed_Thin.woff") format("woff"),
    url("/assets/fonts/GTAmericaTrial-Compressed_Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT America Thin";
  src: url("/assets/fonts/GTAmerica-CompressedThin.woff2") format("woff2"), url("/assets/fonts/GTAmerica-CompressedThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT America Expanded";
  src: url("/assets/fonts/GTAmericaTrial-ExpMd.woff2") format("woff2"), url("/assets/fonts/GTAmericaTrial-ExpMd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
