@import "./typography.scss";

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #212121;
  font-family: "GT America Extended", Arial, Helvetica, sans-serif;
  color: $col-white;
}

p,
h2 {
  margin: 0;
  padding: 0;
  display: block;
}

a {
  text-decoration: underline;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $col-white;
  &.green {
    color: $col-green;
  }
}

button {
  cursor: pointer;
  text-transform: uppercase;
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:hover:not(:disabled) {
    background-color: $col-green;
    color: $col-white;
  }
  &.white:hover:not(:disabled) {
    background-color: $col-white;
    color: $col-dark;
  }
}

button,
input {
  z-index: 8;
  padding: 10px 40px;
  margin: 0 $spacing / 2;
  margin-bottom: 1rem;
  text-align: center;
  outline: 0;
  border: 1px solid $col-green;
  border-radius: 100px;
  transition: background-color 500ms, color 500ms;
  color: $col-green;
  background-color: rgba($col-dark, 0.6);
  @media screen and (max-width: $mqTablet) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0.2rem;
  }
  @extend .thin-large;
}

input {
  @extend .thin-medium;
  background-color: #1d1b2690;
}

input[type="text"] {
  border: 1px solid $col-white;
  color: $col-white;
  padding: 10px 25px;
  width: 35rem;
  @media screen and (max-width: $mqTablet) {
    width: 80%;
  }
  background-color: rgba($col-dark, 0.6);
  &:hover {
    background-color: #1d1b2690;
    color: $col-white;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.view {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  text-align: center;
  button,
  input,
  textarea,
  a {
    pointer-events: all;
  }
  & > div {
    height: 100%;
  }
  .view-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing/2 $spacing/3 $spacing * 1.5 $spacing/3;
    a {
      display: block;
      font-size: 0.85rem;
      margin-top: 0.5rem;
    }
    h2 {
      margin-bottom: 1rem;
    }
    .input-container,
    .marker-placer {
      margin-top: 1rem;
    }
    @media screen and (min-width: $mqTablet) {
      header,
      footer {
        width: 60%;
        max-width: 60%;
        margin: 0 auto;
        p {
          max-width: 100%;
        }
      }
    }
  }
}

#map {
  .gm-style .gm-style-iw-c {
    padding: 0;
    border-radius: 0;
    @media screen and (max-width: $mqMobile) {
      max-width: 266px !important;
    }
    .gm-ui-hover-effect {
      top: 0 !important;
      right: 0 !important;
      &::before {
        content: " ";
        display: block;
        height: 100%;
        width: 100%;
        background-image: url(~@/assets/icons/close-white.svg);
        background-size: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
      }
      img {
        display: none !important;
      }
    }
  }
  .gm-style-iw-d {
    padding: 0.75rem;
    padding-top: 1.5rem;
    background-color: $col-dark;
    color: $col-green;
    border: 1px solid $col-white;
    .exte-small {
      font-size: 0.9rem;
    }
  }
  .gm-style .gm-style-iw-c input {
    border: none;
    text-transform: lowercase;
    font-size: 0.8rem;
    margin: 0;
    color: $col-white;
    text-align: left;
  }

  .gm-style-cc {
    background: none !important;
    display: none;
  }
  .gmnoprint div {
    background: none !important;
  }

  .gm-style .gm-style-iw-t::after {
    display: none;
  }

  button.gm-control-active {
    border: none;
    margin-bottom: 0.5rem;
    transform: translateY(-50%);
    &:hover {
      opacity: 0.6;
    }
    &::before {
      content: " ";
      display: block;
      background-image: url("~@/assets/icons/plus.svg");
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    &:last-child {
      margin-top: 0.5rem !important;
      &::before {
        background-image: url("~@/assets/icons/minor.svg");
      }
    }
    img {
      display: none;
    }
    @media screen and (max-width: $mqTablet) {
      display: none !important;
    }
  }
  .share-url {
    margin-top: 1rem;
    display: flex;
    input {
      opacity: 0;
      margin: 0;
      position: absolute;
      left: -1000%;
    }
    span {
      font-size: 1rem;
    }
    button {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      margin-right: 0.5rem;
      border: 0;
      color: $col-white;
      transition: opacity 0.1s;
      &:hover {
        background-color: transparent;
        opacity: 0.75;
      }
      &::before {
        content: " ";
        transform: translateX(-3px);
        display: block;
        width: 26px;
        height: 1rem;
        background-image: url("~@/assets/icons/link.svg");
        background-position: center center;
        background-size: 75%;
        background-repeat: no-repeat;
        transition: all 0.5s;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shiftbg {
  0% {
    background-position: 0% 10%;
  }
  25% {
    background-position: 55% 39%;
  }
  50% {
    background-position: 10% 10%;
  }
  75% {
    background-position: 76% 11%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
