::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #212121;
  font-family: "GT America Extended", Arial, Helvetica, sans-serif;
  color: $col-white;
}

#app {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
  display: block;
  &.link {
    text-decoration: underline;
    cursor: pointer;
  }
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

button,
input {
  z-index: 8;
  padding: 8px 40px;
  margin: 0 $spacing / 2;
  margin-bottom: 1rem;
  background: transparent;
  text-align: center;
  outline: 0;
  border: 1px solid $col-green;
  border-radius: 20px;
  transition: all 700ms;
  color: $col-green;
  background-color: rgba( $col-dark, .6 );
  @extend .thin-large;
  &:hover {
    background-color: $col-green;
    color: $col-white;
  }
}

input {
  @extend .thin-medium;
  background-color: #1d1b2690;
}

input[type="text"] {
  border: 1px solid $col-white;
  color: $col-white;
  padding: 10px 25px;
  width: 25rem;
  background-color: rgba( $col-dark, .6 );
  &:hover {
    background-color: $col-dark;
    color: $col-white;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

textarea {
  border: 1px solid white;
  outline: 0;
  color: $col-green;
  resize: none;
  background-color: $col-dark;
  width: 30rem;
  min-height: 15rem;
  padding: $spacing / 2;
  box-sizing: border-box;
  @extend .exte-small;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.view {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  button,
  input,
  textarea,
  a {
    pointer-events: all;
  }
  .info {
    min-height: 82%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 70%;
    margin-top: $spacing;
    z-index: 200;
    .header {
      width: 100%;
      p {
        margin-bottom: 0.8rem;
      }
      &.center {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .footer {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      .back {
        margin-top: 0.5rem;
      }
      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.panel {
  width: 50%;
  height: auto;
  padding: 0.5rem;
  pointer-events: all;
  text-align: center;
}

#map {
  .gm-style .gm-style-iw-c {
    padding: 0;
    border-radius: 0;
  }
  .gm-style-iw-d {
    padding: 1rem;
    background-color: $col-dark;
    color: $col-green;
    border: 1px solid $col-white;
  }
  .gm-style .gm-style-iw-c input {
    border: none;
    text-transform: lowercase;
    font-size: 0.8rem;
    margin: 0;
    color: $col-white;
    text-align: left;
  }
  .gmnoprint a,
  .gmnoprint span {
    display: none;
  }
  .gm-style-cc {
    background: none !important;
    display: none;
  }
  .gmnoprint div {
    background: none !important;
  }

  .gm-control-active {
    transform: translateY(-0.4rem);
    border: 1px solid $col-white !important;
    color: $col-white !important;
    &:nth-child(1) {
      margin-bottom: 0.6rem !important;
    }
  }
  .share-url {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    input {
      flex: 1;
    }
    &::before {
      content: " ";
      display: block;
      width: 26px;
      height: 11px;
      background-image: url("~@/assets/icons/link.svg");
      background-position: center center;
      background-size: 75%;
      background-repeat: no-repeat;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shiftbg {
  0% {
    background-position: 0% 10%;
  }
  25% {
    background-position: 55% 39%;
  }
  50% {
    background-position: 10% 10%;
  }
  75% {
    background-position: 76% 11%;
  }
  100% {
    background-position: 0% 0%;
  }
}
