.expa-large {
  font-family: "GT America Expanded", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 125%;
  @media screen and (max-width: $mqTablet) {
    font-size: 2.2rem;
  }
  @media screen and (max-width: $mqMobile) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: $mqSmallMobile) {
    font-size: 1.4rem;
  }
}

.exte-large {
  font-family: "GT America Extended", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 125%;
  @media screen and (max-width: $mqTablet) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: $mqMobile) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: $mqSmallMobile) {
    font-size: 1rem;
    line-height: 115%;
  }
}

.exte-medium {
  font-family: "GT America Extended", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 140%;
  @media screen and (max-width: $mqTablet) {
    font-size: 1rem;
    line-height: 120%;
  }
  @media screen and (max-width: $mqSmallMobile) {
    font-size: 1rem;
    line-height: 120%;
  }
}

.exte-small {
  font-family: "GT America Extended", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 120%;
  @media screen and (max-width: $mqTablet) {
    font-size: 1.05rem;
  }
  @media screen and (max-width: $mqSmallMobile) {
    font-size: 1rem;
    line-height: 120%;
  }
}

.thin-large {
  font-family: "GT America Light", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 110%;
  @media screen and (max-width: $mqTablet) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: $mqSmallMobile) {
    font-size: 1.2rem;
    line-height: 120%;
  }
}

.thin-medium {
  font-family: "GT America Light", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 110%;
  @media screen and (max-width: $mqTablet) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: $mqSmallMobile) {
    font-size: 1.2rem;
    line-height: 120%;
  }
}
